PORT=8000

AUTH_SERVICE_URL=http://localhost:8001
MARKETPLACE_SERVICE_URL=http://localhost:8002
EVENT_BUDGET_SERVICE_URL=http://localhost:8003
BOOKING_PAYMENT_SERVICE_URL=http://localhost:8004
INVITATION_SERVICE_URL=http://localhost:8005
GUEST_FEEDBACK_SERVICE_URL=http://localhost:8006
